.root{
    background-image: linear-gradient(to right,#5E5BBD,#5E5BF2 );

}
.button{
    -fx-background-color: linear-gradient(to right,#5E5BBD,#5E5BF2);
    -fx-border-color: white;
}
.button:hoover{
    -fx-fill: red;

}
.pane{
    -fx-background-color: linear-gradient(to right,#5A80F0,#7A80F0);
}
.topPane{
    -fx-background-color: #66A2C6;
}
